/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/behaviors.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/ext_power.h>

#define BASE 0
#define SYM 1
#define NUM 2
#define DIR 3

&led_strip {
        chain-length = <27>;
};


// / {
//         underglow-layer {
//                 compatible  = "zmk,underglow-layer";

//                 base {
//                 bindings = <
//         &ug ___ &ug ___ &ug ___ &ug ___ &ug ___ &ug ___     &ug ___ &ug ___ &ug ___ &ug ___ &ug ___ &ug ___
//         &ug ___ &ug ___ &ug ___ &ug ___ &ug ___ &ug ___     &ug ___ &ug ___ &ug ___ &ug ___ &ug ___ &ug ___
//         &ug ___ &ug ___ &ug ___ &ug ___ &ug ___ &ug ___     &ug ___ &ug ___ &ug ___ &ug ___ &ug ___ &ug ___
//                                 &ug ___ &ug ___ &ug ___     &ug ___ &ug ___ &ug ___
//                         >;
//                 layer-id = <BASE>;
//                 };
//         };
// };


/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {
                        display-name = "BASE";
// -----------------------------------------------------------------------------------------
// | TAB  |  Q  |  W  |  E   |  R  |  T  |       |  Y   |  U   |  I  |  O  |  P  | BSPC |
// | GUI  |  A  |  S  |  D   |  F  |  G  | ----- |  H   |  J   |  K  |  L  | RET | DEL  |
// | SHFT |  Z  |  X  |  C   |  V  |  B  |       |  N   |  M   |  ,  |  .  |  /  | SHFT |
//                    | CTRL | SYM | NUM |       | CTRL | SPC  | ALT |
                        bindings = <
   &kp TAB        &kp Q &kp W &kp E &kp R   &kp T     &kp Y &kp U     &kp I     &kp O   &kp P    &kp BSPC
   &kp LGUI       &kp A &kp S &kp D &kp F   &kp G     &kp H &kp J     &kp K     &kp L   &kp RET  &kp DEL
   &mt LSHFT CAPS &kp Z &kp X &kp C &kp V   &kp B     &kp N &kp M     &kp COMMA &kp DOT &kp FSLH &kp RSHFT
                          &kp LCTRL &mo SYM &mo NUM   &mt RCTRL SPACE &kp SPACE &kp RALT
                        >;
                };
                symbol_layer {
                        display-name = "SYM";
// -----------------------------------------------------------------------------------------
// | ESC  |  '   |  [  |  =  |  ;  |  \  |       |      |     |     |     |  \  | BSPC |
// | GUI  |  `   |  -  |  =  |  (  |  [  | ----- |  ]   |  )  |  ;  |  '  | RET | DEL  |
// | SHFT |OUTTOG| BT0 | BT1 | BT2 |     |       |      |     |  ,  |  .  |  /  | SHFT |
//                     |     | N/A |BTCLR|       | CTRL | DIR | ALT |
                        bindings = <
   &kp ESC        &kp SQT      &kp LBKT     &kp EQUAL    &kp SEMI     &kp BSLH        &none           &none         &none     &none   &kp BSLH &kp BSPC
   &kp LGUI       &kp GRAVE    &kp MINUS    &kp EQUAL    &kp LPAR     &kp LBKT        &kp RBKT        &kp RPAR      &kp SEMI  &kp SQT &kp RET  &kp DEL
   &mt LSHFT CAPS &out OUT_TOG &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &none           &none           &none         &kp COMMA &kp DOT &kp FSLH &kp RSHFT
                                            &none        &none        &bt BT_CLR      &mt RCTRL SPACE &lt DIR SPACE &kp RALT
                        >;
                };

                number_layer {
                        display-name = "NUM";
// -----------------------------------------------------------------------------------------
// | ESC  |     | F1  | F2  | F3  | F4  |       |      |  7  |  8  |  9  |     | BSPC |
// | GUI  |     | F5  | F6  | F7  | F8  | ----- |      |  4  |  5  |  6  | RET | DEL  |
// | SHFT |     | F9  | F10 | F11 | F12 |       |      |  1  |  2  |  3  |     | SHFT |
//                    |     |     |     |       | CTRL |  0  |  0  |
                        bindings = <
   &kp ESC        &none &kp F1 &kp F2  &kp F3  &kp F4        &none &kp N7 &kp N8 &kp N9 &none   &kp BSPC
   &kp LGUI       &none &kp F5 &kp F6  &kp F7  &kp F8        &none &kp N4 &kp N5 &kp N6 &kp RET &kp DEL
   &mt LSHFT CAPS &none &kp F9 &kp F10 &kp F11 &kp F12       &none &kp N1 &kp N2 &kp N3 &none   &kp RSHFT
                               &none   &none   &none         &mt RCTRL SPACE &kp N0 &kp N0
                        >;
                };

                direction_layer {
                        display-name = "DIR";
// -----------------------------------------------------------------------------------------
// | ESC  |RGBHUD|RGBHUI|  UP  |RGBSAD|RGBSAI|       |       |      | PGUP  | CBRIDN| CBRIUP| BSPC |
// | GUI  |RGBEFF| LEFT | DOWN | RGHT | SHFT | ----- | SHFT  | HOME | PGDN  |  END  |  RET  | DEL  |
// | SHFT |RGBTOG|RGBBRD|RGBBRI|RGBSPD|RGBSPI|       | WINMV | MUTE | VOLUP | VOLDN |       | SHFT |
//                      | EPOFF|      | BTLD |       | BTLD  |      | EPON  |
// WINMV is combination of shift, gui, and left arrow, which moves a window to another monitor

                        bindings = <
   &kp ESC        &rgb_ug RGB_HUD &rgb_ug RGB_HUI &kp UP             &rgb_ug RGB_SAD &rgb_ug RGB_SAI          &none            &none      &kp PG_UP    &kp C_BRI_DN &kp C_BRI_DN &kp BSPC
   &kp LGUI       &rgb_ug RGB_EFF &kp LEFT        &kp DOWN           &kp RIGHT       &kp LSHFT                &kp RSHFT        &kp HOME   &kp PG_DN    &kp END      &kp RET      &kp DEL
   &mt LSHFT CAPS &rgb_ug RGB_TOG &rgb_ug RGB_BRD &rgb_ug RGB_BRI    &rgb_ug RGB_SPD &rgb_ug RGB_SPI          &kp LG(LS(LEFT)) &kp C_MUTE &kp C_VOL_DN &kp C_VOL_UP &none        &kp RSHFT
                                                  &ext_power EP_OFF  &none           &bootloader              &bootloader      &none      &ext_power EP_ON
                        >;
                };
        };
};


